<header id="header">
	<div id="header-outer" class="outer">
		<div id="header-inner" class="inner">
			<a id="main-nav-toggle" class="nav-icon" href="javascript:;"></a>
			<a id="logo" class="logo-text" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
			<p class="subtitle">{{ .Site.Params.subtitle }}</p>
			<nav id="main-nav">
				{{ range .Site.Menus.main }}
					<a class="main-nav-link" href="{{ .URL }}">{{ .Name }}</a>
				{{ end }}
				{{ if templates.Exists "partials/surprise-me-head.html" }}
					<a class="main-nav-link" href="{{ "surprise-me" | absURL }}">Surprise Me!</a>
				{{ end }}
				<a class="main-nav-link" href="{{ "feed.xml" | absURL }}">RSS</a>
			</nav>
			<nav id="sub-nav">
				<div id="search-form-wrap">
				</div>
			</nav>
		</div>
	</div>
</header>